{
  "project": "XXX",
  "task": {
    "summary": "Parent task",
    "description": "Parent task description",
    "epic_name": null,
    "tasks": [
      {
        "summary": "Sub-task #1",
        "description": "..."
      },
      {
        "summary": "Sub-task #2",
        "description": "..."
      }
    ]
  }
}
